{$PROTOCOL}://{$DOMAIN_NAME} {
    encode zstd gzip

    header /opensearch.xml Content-Type "application/opensearchdescription+xml"
    header /manifest.webmanifest Content-Type "application/manifest+json"
			
    handle_path /api/* {
        reverse_proxy api:3000
    }

    handle_path /* {
        root * /srv
        file_server

        header Access-Control-Allow-Origin "*"
        try_files {path} /		

        route {
            header Cache-Control "public,max-age=0,s-maxage=0,must-revalidate"
            header /media/* Cache-Control "max-age=1728000"
            header /workbox-* Cache-Control "public,max-age=31536000,s-maxage=31536000,immutable"
            header /assets/* Cache-Control "public,max-age=31536000,s-maxage=31536000,immutable"
        }
    }
}
