{$PROTOCOL}://{$DOMAIN_NAME} {
    encode zstd gzip

    header /opensearch.xml Content-Type "application/opensearchdescription+xml"

    handle_path /api/* {
		reverse_proxy api:3000
	}

	handle_path /* {
	    root * /srv
        file_server
        try_files {path} /
	}
}
