@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap");

@font-face {
  font-family: "LemonMilk";
  font-weight: 300;
  font-style: normal;
  font-display: block;
  unicode-range: U+000-5FF;
  src: local("LemonMilk"), url("/fonts/LemonMilk/LemonMilk.woff2") format("woff2"),
    url("/fonts/LemonMilk/LemonMilk.woff") format("woff");
}