[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
# Linting/Formatting
flake8 = "*"
black = "*"
# Testing
httpx = "*"
pytest = "*"
pytest-asyncio = "*"
pytest-cov = "*"
# Requirements
fastapi = "*"
slowapi = "*"
hypercorn = "*"
pydantic = {extras = ["email"], version = "*"}
fastapi_camelcase = "*"
python-jose = {extras = ["cryptography"], version = "*"}
passlib = {extras = ["bcrypt"], version = "*"}
asyncpg = "*"
sqlalchemy = "*"
python-multipart = "*"
pillow = ">=8.3.2"
alembic = "*"

[dev-packages]
icecream = "*"
ipython = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
